
<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="css/style.css">

<SCRIPT language=javascript>
function checkValid() {
    var f = window.document.writeForm;
		
	if (f.pCode.value=="") {
	    alert( "상품코드를 입력해 주세요." );
	    f.pCode.focus();
		return false;
    }
	if (f.pName.value=="") {
		alert( "상품명을 입력해 주세요." );
		f.pName.focus();
		return false;
	}
	if (f.pPrice.value=="") {
		alert( "가격을 입력해 주세요." );
		f.pPrice.focus();
		return false;
	}
	if (f.pSize.value=="") {
        alert( "사이즈를 입력해 주세요." );
        f.pSize.focus();
        return false;
    }
	if (f.pDate.value=="") {
        alert( "입고일을 입력해 주세요" );
        f.pDate.focus();
        return false;
    }
	if (f.pEA.value=="") {
        alert( "입고수량을 입력해 주세요" );
        f.pEA.focus();
        return false;
    }
	if (f.pImage.value=="") {
        alert( "메인이미지를 등록해 주세요" );
        f.pImage.focus();
        return false;
    }
	if (f.pDetailImage.value=="") {
        alert( "디테일이미지를 등록해 주세요" );
        f.pDetailImage.focus();
        return false;
    }
	
    return true;
}
</SCRIPT>


</HEAD>
<BODY>

<form name="writeForm" method="post" action="mumi?command=adminProductInsert" 
  onSubmit='return checkValid()' enctype="multipart/form-data">

<table align="center" cellpadding="5" cellspacing="2" width="600" border="1" >
    
    <tr>
        <td width="1220" height="20" colspan="2" bgcolor="#e9ecef">
            <p align="center"><font color="black" size="3"><b> 상품 등록 </b></font></p>
        </td>
    </tr>
    <tr>
        <td width="150" height="20" >
            <p align="right"><b><span style="font-size:9pt;">상품코드</span></b></p>
        </td>
        <td width="450" height="20"><b><span style="font-size:9pt;">
		<input type=text name="pCode" size="30"></span></b></td>
    </tr>
    <tr>
        <td width="150" height="20">
            <p align="right"><b><span style="font-size:9pt;">상품명</span></b></p>
        </td>
        <td width="450" height="20"><b><span style="font-size:9pt;">
		<input type=text name="pName" size="30"></span></b></td>
    </tr>
    <tr>
        <td width="150" height="20">
            <p align="right"><b><span style="font-size:9pt;">가격</span></b></p>
        </td>
        <td width="450" height="20" ><b><span style="font-size:9pt;">
		<input type=text name="pPrice" size="50"></span></b></td>
    </tr>
    <tr>
        <td width="150" height="20">
            <p align="right"><b><span style="font-size:9pt;">사이즈 (S/M/L)</span></b></p>
        </td>
        <td width="450" height="20"><b><span style="font-size:9pt;">
        <input type=text name="pSize" size="50"></textarea></span></b></td>
    </tr>
    <tr>
        <td width="150" height="20">
            <p align="right"><b><span style="font-size:9pt;">입고일 (YYYYMMDD)</span></b></p>
        </td>
        <td width="450" height="20"><b><span style="font-size:9pt;">
        <input type=text name="pDate" size="50"></textarea></span></b></td>
    </tr>    
    <tr>
        <td width="150" height="20">
            <p align="right"><b><span style="font-size:9pt;">입고수량</span></b></p>
        </td>
        <td width="450" height="20" ><b><span style="font-size:9pt;">
		<input type=text name="pEA" size="50"></span></b></td>
    </tr> 
    <tr>
        <td width="150" height="20">
            <p align="right"><b><span style="font-size:9pt;">메인이미지</span></b></p>
        </td>
        <td width="450" height="20">
        	<b><span style="font-size:9pt;">
        		 <input type="file" name="pImage" maxlength="60" size="40">
        	   </span></b>
        </td>
    </tr>
    <tr>
        <td width="150" height="20">
            <p align="right"><b><span style="font-size:9pt;">디테일이미지</span></b></p>
        </td>
        <td width="450" height="20">
        	<b><span style="font-size:9pt;">
        		 <input type="file" name="pDetailImage" maxlength="60" size="40">
        	   </span></b>
        </td>
    </tr>
 
    
    <tr>
        <td width="450" height="20" colspan="2" align="center"><b><span style="font-size:9pt;"><input type=submit value="상품 등록"> 
        <input type=reset value=다시쓰기></span></b></td>
    </tr>
</table>

</form>

<hr>
<div align=right><span style="font-size:10pt;">&lt;<a href="mumi?command=adminProductAllRead">리스트로 돌아가기</a>&gt;</span></div>

</BODY>
</HTML>

